@import "./normalize";
@import "./reset";
@import "./variables";
@import "./mixins";



header {
  .header {
    height: 72px;
    background-color: var(--header-bg);
    position: fixed;
    width: 100%;

    .container {
      @include container;

      .header__content-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;

        .cart-section {
          .cart__price {
            color: var(--amount-color);
            font-family: Cabin;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
          }

          button.cart__btn {
            background-image: url("../images/cart_icon.png");
            width: 40px;
            height: 40px;
            border: none;
            background-color: transparent;
            color: var(--text-color);
            font-family: Cabin;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 10px;
            padding: 12px 12px 18px 19px;
          }
        }
      }

    }
  }

  .container {

    width: 1296px;
    margin: 0 auto;
    padding: 0;

    .header__menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 32px;
      position: static;
      padding-top: 80px;

      .header__nav-item {
        color: var(--header-menu-text);
        @include cabin400;
      }

      .header__nav-list {
        display: flex;
        justify-content: space-between;

        li {
          a {

            text-decoration: none;
            color: var(--header-menu-text);
            @include cabin400;
            padding-left: 40px;
          }
        }
      }
    }

  }
}


main {
  background-color: var(--main-bg-color);

  button.chat-button {
    background-image: url("../images/Property.svg");
    position: fixed;
    left: 1560px;
    bottom: 600px;
    width: 64px;
    height: 64px;
    background-color: $bg-transparent;
    border: none;

  }

  .container {
    @include container;

    h1 {

      @include title;
      padding: 60px 0 24px 0;
      border-bottom: 1px solid var(--border-color) ;
    }

    .cards {
      @include grid-container;
      padding: 23px 0 130px;


      .hit-badge {
        position: relative;
        display: block;
        bottom: 429px;
        left: 10px;
        background: var(--hit-color);
        width: 20px;
        height: 24px;
        padding: 4px 8px;
        @include cabin400;
        color: var(--badge-text);
        text-align: center;
        border-radius: 4px;
      }

      .new-badge {
        background: var(--new-badge);
        color: var(--badge-text);
        display: block;
        width: 32px;
        height: 24px;
        padding: 4px 8px;
        @include cabin400;
        border-radius: 4px;
        position: relative;
        text-align: center;
        bottom: 429px;;
      }

      .discount-badge {
        background: var(--disc-badge);
        color: var(--badge-text);
        display: block;
        width: 58px;
        padding: 4px 8px;
        @include cabin400;
        border-radius: 4px;
        position: relative;
        text-align: center;
        bottom: 461px;
        left: 50px;
      }

      .discount-badge-different {
        background: var(--disc-badge);
        color: var(--badge-text);
        display: block;
        width: 58px;
        padding: 4px 8px;
        @include cabin400;
        border-radius: 4px;
        text-align: center;
        position: relative;
        bottom: 429px;
      }

      .product-card {
        .old-price {
          color: var(--old-price-color);
          @include cabin500;
          text-decoration: line-through;
          padding-left: 24px;
        }

        border: 1px solid  var(--border-color);
        background:var(--product-bg);
        padding: 32px;
        height: 425px;

        .product-card__item {
          margin: 32px;

          img {
            width: 178px;
            height: 280px;
            align-items: center;
          }
        }

        .product-card__name {
          display: block;
          border-bottom: 1px solid var(--border-color);
          text-decoration: none;
          width: 241px;
          height: 31px;
          overflow: hidden;
          color: var(--name-color);
          text-overflow: ellipsis;
          white-space: nowrap;
          @include cabin700;
        }

        .product-card__author {
          overflow: hidden;
          color: var(--border-color);
          text-overflow: ellipsis;
          white-space: nowrap;
          @include cabin400;
          line-height: 24px;
          margin-bottom: 8px;

        }

        .product-card__price {
          color: var(--price-color);
          @include cabin500;


        }

        .product-card-button {
          display: block;
          border-radius: 4px;
          background: var(--dark-purple);
          width: 242px;
          height: 40px;
          border: none;
          margin-top: 10px;
          color: $white-back;
          @include cabin400;




        }
      }
    }
  }
}

footer {

  background: var(--dark-purple);
  padding: 32px 0;


  .footer-container {
    display: flex;
    justify-content: space-between;
    width: 1296px;
    margin: 0 auto;
    padding: 0;


    .footer__content {

      color: var(--amount-color);
      @include cabin400;

    }
  }
}

