@mixin  container{
  width: 1296px;
  margin: 0 auto;
  padding: 0;
}

@mixin grid-container{
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 32px;
  column-gap: 20px;
}

@mixin cabin400 {
  font-family: Cabin;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;


}

@mixin cabin700 {
  font-family: Cabin;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

@mixin cabin500{
  font-family: Cabin;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */

}
  @mixin title{
  color: var(--title-color);
  font-family: Cabin;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 125% */
}