$blue-color: #EEEEEF;
$hit-color: #4200FF;
$white-content:#F8FDFE;
$bg-transparent:transparent;
$new-badge: #AF39E7;
$disc-badge: #EA33C0;
$main-border-color: #A8A8A8;
$border-color:  #8E8E8E;
$white-back: white;
$name-color:#1F1F1F;
$price-color: #E90000;
$dark-purple: #4C394E;
$green-card: #4D762D;
$black-content:#000;


:root {
  --bg-color: #ffffff;
  --main-bg-color: #f7f9fa;
  --header-menu-text:  #121212;
  --header-menu-bg:#F8FDFE ;
  --title-color:  #121212;
  --text-color: #ffffff;
  --header-bg: #10BBD5;
  --button-color: #007bff;
  --footer-bg: #10BBD5;
  --badge-color: #6200ea;
  --amount-color: #F8FDFE;
  --border-color: #A8A8A8;
  --hit-color: #4200FF;
  --new-badge: #AF39E7;
  --disc-badge: #EA33C0;
  --price-color: #E90000;
  --dark-purple: #4C394E;
--old-price-color:#A8A8A8;
  --product-bg:#ffffff;
  --badge-text:#ffffff;
  --name-color:#1F1F1F;
}

.dark-theme {
  --bg-color: #121212;

  --main-bg-color: #404850;
  --header-menu-bg: #404850;
  --title-color: #ffffff ;
  --header-menu-text: #000000;

  --text-color: #0c0c0c;
  --header-bg: #424445;
  --button-color: #3700b3;
  --footer-bg: #333333;
  --badge-color: #3700b3;
  --amount-color: #ffffff;
  --border-color: #ffffff;
  --new-badge: #AF39E7;
  --hit-color: #4200FF;
  --disc-badge: #EA33C0;
  --price-color: #75ba1b;
  --dark-purple: #4C394E;
  --old-price-color: #575c65;
  --product-bg: #434e5e;
  --badge-text:#ffffff;
  --name-color:#ffffff;



}